a {
    text-decoration: none;
}

section#carousel {
    width: 600px;
    margin: auto;

    &.extended{
        margin: 0;
        width: 100%;
    }
}

.splide__slide {
    &.is-active {
        .img { border: blue; }
    }
    .img {
        width : 100%;
        height: auto;
    }
}

#pagination {
    width: 100%;
    text-align: center;

    .pagination-item {
        display: inline-block;
        
        a {
            margin: 0 10px;
            border-radius: 50%;
            background-color: darkgoldenrod ;
            color: white;
            padding: 10px;
        }
    }
}