a {
    text-decoration: none;
}

section#carousel {
    width: 600px;
    margin: auto;
    text-align: center;

    &.extended{
        margin: 0;
        width: 100%;
    }
}

.splide__slide {
    &.is-active {
        .img { border: blue; }
    }
    .img {
        width : 100%;
        height: auto;
    }
}