a {
    text-decoration: none;
}

#carousel {
    margin: auto;
    width: 70vw;
    height: 70vh;
    display: block;    

    &.extended{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .buttons {
            top: 0;
        }

        .scene {
            flex: 1;
        }
    }
}

#btnSearch {
    position: absolute;
    right: 0;
    bottom: 15vh;
    background-color: transparent;
    border: 1px solid $main_color;
    padding: 20px;
    color: white;
    font-weight: 700;

    &:hover {
        background-color: $main_color;
        border: 0 solid yellow;
    }

    &.extended {
        bottom: 0;
    }
}

#slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 15vh;
    justify-content: flex-end;
    #slider {
        .splide__arrows {

            svg {
                width: 3em;
                height: 3em;
            }

            .splide__arrow--prev {
                left: -4em;
                background-color: transparent;
            }

            .splide__arrow--next {
                right: -4em;
                background-color: transparent;
            }
        }
    }
}

.splide__slide {
    &.is-active {
        .img { border: blue; }
    }
    .img {
        width : 100%;
        height: auto;
    }
}

#introduction {
    width: 50%;
    margin: auto;
}

.loading { display: none; }