#scene {
    position: relative;

    .buttons {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

}
#orbit {
    background-image: url('../images/orbita.png');
    background-position: center center;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: auto;
}