#scene {
    position: relative;

    .buttons {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

}
#orbit {
    /* position: absolute;
    top: 20px;
    right: 20px; */
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: auto;
}